<%= form_for @comment, local: true do |form| %>
  <%=form.hidden_field :user_id, value: current_user.id%>
  <%=form.hidden_field :post_id, value: params[:post_id]%>

  <div class="form-field">
    <%= form.label :text %>
    <br>
    <%= form.text_area :text, size: '100x12' %>
  </div>
  <div class="form-field">
    <%= form.submit %>
  </div>

<% end %>
